extends ../layouts/default

block intro
	include ../includes/header
	
block content
	section.intro
		.overlay
		//- .intro__imgs
		//- 	img.full(src= campaign._.photo.fit(1500, 1500))
		.wrapper.wrapper--default
			.campaign__content
				h1= campaign.name
				form(id="", method="post", action="")
					input(type="submit",value="Participa", style="max-width: 200px;padding: .5em;").button.button--block__default
	section.content
		.wrapper.wrapper--default
			div!= campaign.info
block footer
	include ../includes/footer
