extends ../layouts/default

block intro
	include ../includes/header
	
block content
	section.intro
		.overlay
		//- .intro__imgs
		//- 	img.full(src= campaign._.photo.fit(1500, 1500))
		.wrapper.wrapper--default
			.campaign__content
				h1 Cómo funciona
	section.content
		h3 1. Crea una cuenta 
		h3 2. Selecciona las campañas en las que quieras ayudar
		h3 3. Asiste al evento
		h3 4. Toma una #filantropic y súbela a nuestro sitio
		h3 5. Gana puntos
block footer
	include ../includes/footer
