/* --------------------- *\
    COLORS
\* --------------------- */

/* Most used */
$white: #fff;
$black: #0E1014;
$dark: #12161E;
$gray: #4B5161;

$main: #0D98E6;
$main-hover: #0978b6;

$alt: #ea5d0d;
$alt-hover: #c64e0a;
