extends ../../layouts/session

block content
	.logo-center
		a(href="/" title="Back to Home" class="logo")
			img(src="/images/filantropic-logo.png" style="width:150px;")
	.form--login
		.page-intro
			p: strong Olvidaste tu contraseña?
			p.lead No te preocupes, te mandaremos un link para que crees una nueva.
		.page-content
			//- +flash-messages(messages)
			+auth-forms({ modal: false, initial: 'password' })

block js
	script.
		jQuery(function($) {
			$('.auth-form').find('.form-control').eq(0).focus().select();
		});
