extends ../../layouts/session


block content
			.logo-center
				a(href="/" title="Back to Home" class="logo")
					img(src="/images/filantropic-logo.png" style="width:150px;")

			.page-intro
				//- h1 Inicia sesión
				//- +flash-messages(messages)
			.page-content
				.auth-box.modal-pane-signin
					div
						.wrapper.wrapper--default
							.row
								form(method='post', novalidate).form--login.stack-form
									span.text--decoration Nueva contraseña
									input(type='hidden', name='action', value='reset-password')
									.form-groups
										.form-group.password
											//- label(for='password').sr-only Nueva contraseña
											input(type='password', name='password', id='password', placeholder='Nueva Contraseña').form-control.form-control--first
										.form-group
											//- label(for='password_confirm').sr-only Confirma tu nueva contraseña
											input(type='password', name='password_confirm', id='password_confirm', placeholder='Confirma Contraseña').form-control.form-control--last
									button.button.button--block__default.button--full(type='submit') Actualizar contraseña

block js
	script.
		var $form = $('.auth-form');
		var $submit = $form.find('.btn');
		
		$submit.click( function() {
			$submit.addClass( 'disabled' );
		});
		
		$form.find("input[type!='hidden']").first().focus();
